.myPayments {
  --ag-header-height: 48px;
  --ag-header-foreground-color: #fff;
  --ag-header-background-color: #171717;
  --ag-header-cell-hover-background-color: #397df6;
  --ag-header-cell-moving-background-color: #00e8aa;
  --ag-border-color: #171717;
  --ag-row-height: 47px;
  --ag-row-border-color: #171717;
  --ag-odd-row-background-color: #0d0d0d;
  --ag-background-color: #0d0d0d;
  --ag-selected-row-background-color: #2f68cc;
  --ag-row-hover-color: #234e99;

  --ag-cell-horizontal-border: hidden;

  position: relative;

  margin-top: 24px;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  border-radius: 2px;
}
.ag-body-horizontal-scroll-viewport {
  overflow-x: scroll;
}

.optionsBlock {
  position: absolute;
  right: 325px;
  bottom: 15px;
}
