@import '../../styles/tainwind';

@import '../../styles/sass/variables';

@import '../../styles/sass/mixins';

.registerBlock {
  display: flex;
  justify-content: center;

  padding-top: 120px;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 378px;

    background-color: $secondBgColor;

    .title {

      @include text($fontFamily, 20px, 36px);

      font-weight: 700;
    }

    .iconContainer {
      display: flex;
      gap: 35px;
      align-items: center;
    }

    .form {
      position: relative;

      display: flex;
      flex-direction: column;
      place-content: center;

      width: 80%;

      .inputContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;

        .label {
          display: inline-block;

          margin-top: 24px;

          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          color: $dark-100;

          opacity: 0.5;
        }
      }

      .showHidePassword {
      }

      .forgotPassword {
        display: flex;
        justify-content: flex-end;

        padding: 20px 0;
        & a {

          @include text($fontFamily, 14px, 24px);

          font-weight: 400;
          color: #bdc1c7;
          text-decoration: none;
        }
      }
    }

    .desciptionAccount {

      @include text($fontFamily, 16px, 24px);

      font-weight: 400;

      & a {
        color: $textColor;
        text-decoration: none;
      }
    }

    .desciptionSignIn {

      @include text($fontFamily, 16px, 24px);

      font-weight: 600;
      color: #397df6;
    }
  }
}
