@import '../../styles/tainwind';
@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.registerBlock {
  display: flex;
  justify-content: center;
  padding-top: 120px;

  .formContainer {
    background-color: $secondBgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 378px;
    width: 100%;

    .title {
      @include text($fontFamily, 20px, 36px);
      font-weight: 700;
    }

    .iconContainer {
      display: flex;
      align-items: center;
      gap: 35px
    }

    .form {
      width: 80%;
      display: flex;
      flex-direction: column;
      place-content: center;
      position: relative;

      .inputContainer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .label {
          display: inline-block;
          color: $dark-100;
          margin-top: 24px;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          opacity: 0.5;
        }
      }

      .showHidePassword {

      }

      .forgotPassword {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
        & a {
          text-decoration: none;
          @include text($fontFamily, 14px, 24px);
          font-weight: 400;
          color: #BDC1C7;
        }
      }

    }

    .desciptionAccount {
      font-weight: 400;
      @include text($fontFamily, 16px, 24px);

      & a {
        text-decoration: none;
        color: $textColor;
      }
    }

    .desciptionSignIn {
      font-weight: 600;
      @include text($fontFamily, 16px, 24px);
      color: #397DF6;
    }
  }
}




