@import '../../styles/sass/mixins';

.but {
  cursor: pointer;

  display: inline-block;

  width: 330px;
  height: 36px;

  background-color: #397df6;
}

.title {

  @include text($fontFamily, 16px, 24px);

  padding: 6px 24px;

  font-weight: 600;
}
