@import '../../styles/tainwind';

@import '../../styles/sass/variables';

@import '../../styles/sass/mixins';

.header {
  @include borderBottom($border);

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;

  color: $light-100;

  background-color: $bgColor;

  .title {
    @include text($fontFamily, 26px, 36px);

    position: absolute;

    padding: 12px 0 12px 60px;
  }

  .logout {
    @apply ml-auto;
  }
}
