.customRadio {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.customRadio + label {

  @apply text-light-100 text-sm leading-6 font-normal;

  user-select: none;

  display: inline-flex;
  align-items: center;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.customRadio + label::before {

  @apply bg-dark-300  border-2 border-light-100;

  content: '';

  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  margin-right: 0.5em;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  border-radius: 50%;
}
/* стили при наведении курсора на радио */
.customRadio:not(:disabled):not(:checked) + label:hover::before {

  @apply bg-light-100;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.customRadio:not(:disabled):active + label::before {
}
/* стили для радиокнопки, находящейся в фокусе */
.customRadio:focus + label::before {
  /*box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);*/
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.customRadio:focus:not(:checked) + label::before {
}
/* стили для радиокнопки, находящейся в состоянии checked */
.customRadio:checked + label::before {

  @apply bg-dark-300;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.customRadio:disabled + label::before {
  background-color: #e9ecef;
}
